.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .content {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .avatar {
    width: 70px;
    height: 70px;
  }